{% extends 'Backoffice/base.html.twig' %}

{% block title %} Mon profile {% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mt-4" >Modification mot de passe</h2>

        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

        {# Afficher les erreurs générales du formulaire #}
        {% for error in form.vars.errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}

        <div class="mb-3">
            {{ form_label(form.email, 'votre adresse email', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.firstName, 'votre nom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.lastName, 'votre prénom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.oldPassword, 'Votre mot de passe actuel', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control', 'placeholder': 'Votre mot de passe actuel'}}) }}
            <div class="text-danger">{{ form_errors(form.oldPassword, {'attr': {'class': 'text-danger'}}) }}</div>
        </div>

        <div class="mb-3">
            {{ form_label(form.newPassword.first, 'Mon nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mon nouveau mot de passe'}}) }}
            <div class="text-danger">{{ form_errors(form.newPassword.first, {'attr': {'class': 'text-danger'}}) }}</div>
        </div>

        <div class="mb-3">
            {{ form_label(form.newPassword.second, 'Confirmez le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez le mot de passe'}}) }}
            <div class="text-danger">{{ form_errors(form.newPassword.second, {'attr': {'class': 'text-danger'}}) }}</div>
        </div>

        <button type="submit" class="btn" style="background-color: rgb(251,33,117); color: white;">Mettre à jour</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

