<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>{% block title %} Belghith Audition {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    {% block stylesheet %}
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/bootstrap/css/bootstrap.min.css') }}">
        <!-- Icon Font Css -->
        <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/icofont/icofont.min.css') }}">
        <!-- Slick Slider  CSS -->
        <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/slick-carousel/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/slick-carousel/slick/slick-theme.css') }}">

        <!-- Main Stylesheet -->
        <link href="{{ asset('FrontOffice/css/style.css') }}" rel="stylesheet">

        <!-- font awesome icons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">

    {% endblock  %}
    </head>

<body id="top">

{% block navbar %}
    <header>
        <div class="header-top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <ul class="top-bar-info list-inline-item pl-0 mb-0">
                            <li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>belghith.audition@gmail.com</a></li>
                            <li class="list-inline-item" style="color: white"><i class="icofont-location-pin mr-2"></i>Aziz Centre, Manzel Bourguiba, Bizerte, Tunisie </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                            <a href="tel:+23-345-67890" >
                                <span>Appelez maintenant : </span>
                                <span class="h4">+216 27 817 104</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navigation" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="{{ path ('home') }}">
                    <img src="{{ asset('FrontOffice/images/logo.png')}}" alt="" class="img-fluid" width="140" height="30">
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icofont-navigation-menu"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarmain">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path ('home') }}" >Acceuil</a>
                        </li>

{#                        <li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>#}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="department.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aides auditives <i class="icofont-thin-down"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown02">
                                <li><a class="dropdown-item" href="{{ path('appareils') }}">Appareil auditif</a></li>
                                <li><a class="dropdown-item" href="{{ path('bou') }}">Bouchons d’oreille</a></li>
                                <li><a class="dropdown-item" href="{{ path('piles') }}">Piles et accessoires</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="blog-sidebar.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Audition & Santé <i class="icofont-thin-down"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown05">
                                <li><a class="dropdown-item" href="blog-sidebar.html">Comprendre la perte auditive</a></li>

                            </ul>
                        </li>

                        <a href="{{ path ('app_produit_front') }}"  class="btn btn-main-2 btn-icon btn-round-full">Découvrir nos accessoires<i class="icofont-simple-right ml-2  "></i></a>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_cart') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>
                                    {% if app.user %}
                                        Welcome, {{ app.user.lastName }}!
                                    {% endif %} </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('app_register_client') }}">Créer compte</a></li>
                                    <!-- si super admin -->

                                    <li><a class="dropdown-item" href="{{ path('app_login') }}" >Se connecter</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock  %}


{% block body %}

    <!-- Slider Start -->
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="block">
                        <div class="divider mb-3"></div>
                        <span class="text-uppercase text-sm letter-spacing ">Cabinet d'audioprothèse</span>
                        <div class="title-container">
                            <h1 class="title-fr">L'audition pour tous</h1>
                            <h1 class="title-ar">السمع للجميع</h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xl-7">
                            <p class="mb-4 pr-5">Bienvenue chez <strong> Belghith Audition </strong> ! Votre destination pour une audition optimale et une vie en harmonie.</p>
                        </div>
                            <div class="btn-container ">
                            <a href="{{ path ('rendezVous') }}"  class="btn btn-main-2 btn-icon btn-round-full">Demander un rendez-vous <i class="icofont-simple-right ml-2  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-block d-lg-flex">
                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-verification-check"></i>
                            </div>
                            <h4 class="mb-3">Expertise</h4>
                            <p class="mb-4">Notre équipe d’audiciens sérieuse et compétente est à votre disposition pour vous conseiller.</p>
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-ui-clock"></i>
                            </div>

                            <h4 class="mb-3">Horaires de travail</h4>
                            <ul class="w-hours list-unstyled">
                                <li class="d-flex justify-content-between"> Du lundi au Jeudi : <span>8:00 - 17:00</span></li>
                                <li class="d-flex justify-content-between">Vendredi : <span>8:00 - 17:00</span></li>
                            </ul>
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-safety"></i>
                            </div>
                            <h4 class="mb-3">Qualité </h4>
                            <p>Chez Belghith Audition, nous vous proposons des produits choisis avec soin ainsi qu’un service de qualité.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-sm-3">
                    <div class="about-img">
                        <img src="{{ asset('FrontOffice/images/about/img-2.jpg')}}" alt="" class="img-fluid">
                        <img src="{{ asset('FrontOffice/images/about/img-1.jpg')}}" alt="" class="img-fluid mt-4">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-5">
                    <div class="about-img mt-3 mt-lg-0">
                        <img src="{{ asset('FrontOffice/images/about/img-3.jpg')}}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content pl-4 mt-4 mt-lg-0">
                        <h1 class="title-color">Notre sélection d'appareils auditives</h1>
                        <p class="mt-4 mb-6">Nous vous proposons des appareils auditifs de grandes marques mondiales au prix <b>juste, suivi et garantie 4 ans inclus.</b> Tous les appareils auditifs que nous proposons dans nos centres auditifs sont pris en charge par la sécurité sociale et les mutuelles.</p>

                        <a href="{{ path('produits') }}" class="btn btn-main-2 btn-round-full btn-icon">Appareils auditives<i class="icofont-simple-right ml-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-section ">
        <div class="container">
            <div class="cta position-relative">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-doctor"></i>
                            <span class="h3">58</span>k
                            <p>Happy People</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-flag"></i>
                            <span class="h3">700</span>+
                            <p>Surgery Comepleted</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-badge"></i>
                            <span class="h3">40</span>+
                            <p>Expert Doctors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-globe"></i>
                            <span class="h3">20</span>
                            <p>Worldwide Branch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section service gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Pourquoi choisir Belghith Audition ?</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>En vous rendant dans un centre Amplifon, vous pouvez vous attendre à :</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-laboratory text-lg"></i>
                            <h4 class="mt-3 mb-3">Laboratory services</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-heart-beat-alt text-lg"></i>
                            <h4 class="mt-3 mb-3">Heart Disease</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-tooth text-lg"></i>
                            <h4 class="mt-3 mb-3">Dental Care</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-crutch text-lg"></i>
                            <h4 class="mt-3 mb-3">Body Surgery</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-brain-alt text-lg"></i>
                            <h4 class="mt-3 mb-3">Neurology Sargery</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-dna-alt-1 text-lg"></i>
                            <h4 class="mt-3 mb-3">Gynecology</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">En vous rendant dans un centre Amplifon, vous pouvez vous attendre à :</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section testimonial-2 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center">
                        <h2>Nos patients parlent de nous</h2>
                        <div class="divider mx-auto my-4"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 testimonial-wrap-2">
                    <div class="testimonial-block style-2  gray-bg">
                        <i class="icofont-quote-right"></i>

                        <div class="testimonial-thumb">
                            <img src="images/team/test-thumb1.jpg" alt="" class="img-fluid">
                        </div>

                        <div class="client-info ">
                            <h4>Amazing service!</h4>
                            <span>John Partho</span>
                            <p>
                                They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section clients">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center">
                        <h2>Nos Partenaires</h2>
                        <div class="divider mx-auto my-4"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clients-logo">
                <div class="col-lg-2">
                    <div class="client-thumb">
                        <img src="{{ asset('FrontOffice/images/partenaire1.jpg') }}" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock  %}

{% block footer %}
    <!-- footer Start -->
    <footer class="footer section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <div class="logo mb-4">
                            <img src="{{  asset('FrontOffice/images/logo.png')}}" alt="" style="width: 120px; height: 120px;">
                        </div>
                        <p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>

                        <ul class="list-inline footer-socials mt-4">
                            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100064148615866"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Department</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Surgery </a></li>
                            <li><a href="#">Wome's Health</a></li>
                            <li><a href="#">Radiology</a></li>
                            <li><a href="#">Cardioc</a></li>
                            <li><a href="#">Medicine</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Support</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Company Support </a></li>
                            <li><a href="#">FAQuestions</a></li>
                            <li><a href="#">Company Licence</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Contactez-nous</h4>
                        <div class="divider mb-4"></div>

                        <div class="footer-contact-block mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-email mr-3"></i>
                                <span class="h6 mb-0">email</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">belghith.audition@gmail.com</a></h4>
                        </div>

                        <div class="footer-contact-block">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-support mr-3"></i>
                                <span class="h6 mb-0">Lund a Samd : 08:30 - 18:00</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">+216 27 817 104</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-btm py-4 mt-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <div class="copyright">
                            &copy; Belghith Audition, 2024
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-right">
                        <a class="backtop" href="#top" id="btn-back-to-top" >
                            <i class="icofont-long-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock  %}

{% block js %}
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>9/
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>

    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Template Javascript -->
    <script src="{{ asset('FrontOffice/js/contact.js') }}"></script>
    <script src="{{ asset('FrontOffice/js/script.js') }}"></script>

{% endblock  %}

</body>
</html>
