{% extends 'Backoffice/base.html.twig' %}

{% block title %} Rendez-Vous {% endblock %}

{% block body %}
    <h2 class="mt-4">Les demandes des rendez vous</h2>
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Liste des Rendez-Vous
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Nom du patient</th>
                    <th>Prénom</th>
                    <th>Age</th>
                    <th>Téléphone</th>
                    <th>Message</th>
                    <th>Type</th>
                    <th>Date Inscription</th>
                </tr>
                </thead>
                <tbody>
                {% for rendezVous in rendezVous %}
                    {% set today = date() %}
                    {% set dateNaissance = rendezVous.dateNaissance|date('Y-m-d') %}
                    {% set age = today.diff(date(dateNaissance)).y %}
                    <tr>
                        <td>{{ rendezVous.nom }}</td>
                        <td>{{ rendezVous.prenom }}</td>
                        <td>{{ age }} ans</td>
                        <td>{{ rendezVous.phone }}</td>
                        <td>{{ rendezVous.message }}</td>
                        <td>
                            {% if rendezVous.typeRendezvous == "1er rendez-vous (60 min)" %}
                                <span class="badge bg-danger">{{ rendezVous.typeRendezvous }}</span>
                            {% else %}
                                <span class="badge bg-success">{{ rendezVous.typeRendezvous }}</span>
                            {% endif %}
                        </td>
                        <td><strong>{{ rendezVous.dateAjout|date('d/m/Y H:i') }}</strong></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun rendez-vous trouvé.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
