{% extends 'Backoffice/base.html.twig' %}

{% block title %} Modifier utilisateur {% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mt-4" >Modifier utilisateur</h2>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="mb-3">
            {{ form_label(form.email, 'Adresse email', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.firstName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.lastName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.password, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Mon nouveau mot de passe'}}) }}
            {{ form_errors(form.password, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.repeatPassword, 'Répetez le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.repeatPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mon nouveau mot de passe'}}) }}
            {{ form_errors(form.repeatPassword, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <button type="submit" class="btn" style="background-color: rgb(251,33,117); color: white;">Mettre à jour</button>

        {{ form_end(form) }}
    </div>
{% endblock %}