{% extends 'Backoffice/base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}
    <h2 class="mt-4">Gestion des utilisateurs</h2>
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Liste utilisateurs
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                        {% if user.role == "ROLE_ADMIN" %}
                            <span class="badge bg-danger">{{ user.role }}</span>
                        {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                            <a href="{{ path('user_delete', {id: user.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
