{% extends 'Backoffice/base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for message in app.session.flashBag.get('success') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="mt-4">Gestion des utilisateurs</h2>
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa-solid fa-list"></i>
            Liste des utilisateurs
            <a type="submit" class="btn" style="background-color: rgb(251,33,117); color: white; float: right;" href="{{ path('app_user_new') }}">Ajouter utilisateur</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if 'ROLE_ADMIN' in user.roles %}
                                <span class="badge bg-success">Admin</span>
                            {% elseif 'ROLE_SUPER_ADMIN' in user.roles  %}
                                <span class="badge bg-danger">Super Admin</span>
                            {% else %}
                                <span class="badge bg-primary">User</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.isBlocked %}
                                <a href="{{ path('user_block', {id: user.id}) }}" class="btn btn-success btn-sm">Débloquer</a>
                            {% else %}
                                <a href="{{ path('user_block', {id: user.id}) }}" class="btn btn-warning btn-sm">Bloquer</a>
                            {% endif %}
                            <a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
